#note-editor {
    width: 95%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    background-color: var(--primary-color);
    resize: none;
    overflow: hidden;
    border: none;
}

#note-editor:focus {
    outline: none;
}

#note-content img {
    max-width: 95%;
}

@media (max-width: 1000px) {

    #note-content #note-editor,
    #note-content p,
    #note-content li,
    #note-content a,
    #note-content th,
    #note-content td {
        font-size: 1.75em;
    }

    #note-content h1 {
        font-size: 3em;
    }

    #note-content h2 {
        font-size: 2.5em;
    }

    #note-content h3 {
        font-size: 2em;
    }

    #note-content h4,
    h5,
    h6 {
        font-size: 1.8em;
    }
}

mjx-container {
    overflow-x: scroll;
    max-width: 90vw;
    overflow-y: hidden;
    border: 2px solid var(--quad-color);
    border-radius: 25px;
    padding: 25px;
}